# ~/projects/remote/.gitconfig

# remote specific gitconfig
# https://git-scm.com/book/en/v2
# https://gitkraken.com/learn/git
# https://git-scm.com/docs/git-config

[gpg]
  format = ssh

[tag]
  gpgSign = true

[push]
  gpgSign = "if-asked"

[commit]
  gpgSign = true

[user]
  name = "loofieez"
  email = "sarvagyas@pm.me"
  signingkey = "~/.ssh/remote/sign.pub"

[gpg]
  # allowed signer file
  allowedSignersFile = "~/.ssh/remote/allowed_signers"
  # 1Password signing program
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
